.card .row.g-0 .col-md-8 .card-body .btn {
    width: 20rem;
}
.card .row.g-0 .col-md-8 .card-body .btn-primary {
    background-color: var(--bg-color);
    border: 1px solid var(--bg-color);
    color: var(--text-color-1);
}

.card .row.g-0 .col-md-8 .card-body .btn-primary:hover {
    background-color: var(--bg-color-6);
    border: 1px solid var(--bg-color);
}
