.lista-produtos {
    display: flex;
    flex-direction: column;
}
.lista-produtos ul {
    list-style-type: none;
}
.lista-produtos ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}