.footer-box {
    width: 100%;
    height: 50%;
    display: flex;
    flex: 0;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--text-color-1);
    margin-top: auto;
}

.footer-box .row-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.footer-box .row-box .logo-box .social-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-box .row-box .container-box .titulo-box {
    margin-top: 25px;
}

.footer-box .row-box .container-box .line-separation {
    border-bottom: 1px solid #fff;
}
.footer-box .row-box .container-box .conteudo-box p {
    margin-top: 10px;
}

.footer-box .row-box .container-box .conteudo-box .info-box li {
    list-style: none;
    margin-top: 10px;
}

.footer-box .row-box .container-box .conteudo-box .info-box li a {
    text-decoration: none;
    color: var(--text-color-1);
}

.footer-box .copyright-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}