@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

:root {
  --bg-color: #A549E2;
  --bg-color-2: #AE5FE3;
  --bg-color-3: #AA54E3;
  --bg-color-4: #543E63;
  --bg-color-5: #A549E3;
  --bg-color-6: #482063;
  --text-color-1: #fff;
  --text-color-2: #f1f1f1;
  --font: 'Helvetica', 'Inter', sans-serif;
  --fz-titulo: 40px;
  --fz-itens: 18px;
  --fz-paragrafos: 16px;
}